<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Search Resto in your Area" />
    <meta name="keywords" content="Resto, Restaurant, Food" />
    <link rel="icon" href="icon.png" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <title>Search Resto</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <nav-bar></nav-bar>

    <main>
      <div class="hero">
        <picture>
          <img src="./images/hero.jpg" alt="Gambar Estetik Makanan" />
        </picture>
        <div class="inner">
          <h1 class="title">Search Resto</h1>
          <p class="subtitle">Find your favorite restaurant in your city</p>
        </div>
      </div>
      <div class="main-content" id="maincontent"></div>
    </main>
    <foo-ter></foo-ter>
  </body>
</html>
