<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Search Resto in your Area" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <title>Search Resto</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <nav id="nav" class="menu">
        <h1>
          <a href="./" title="Navbar Brand">Search Resto</a>
        </h1>
        <button
          class="menu-button"
          title="off canvas button"
          aria-label="off canvas button"
        >
          <i class="fa fa-times"></i>
          <i class="fa fa-bars"></i>
        </button>
        <ul class="menu-list">
          <li><a href="./" title="Link ke halaman home">Home</a></li>
          <li>
            <a href="#" title="Link ke halaman favorite">Favorite</a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/fajarwg"
              title="Link ke about us"
              target="_blank"
              rel="noreferrer"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="hero">
        <picture>
          <img src="./images/hero.jpg" alt="Gambar Estetik Makanan" />
        </picture>
        <div class="inner">
          <h1 class="title">Search Resto</h1>
          <p class="subtitle">Find your favorite restaurant in your city</p>
        </div>
      </div>
      <div class="main-content" id="maincontent">
        <div id="content" tabindex="0">
          <section class="title-content">
            <h2><span>Explore Restaurant</span></h2>
          </section>
          <div class="explore" id="exploreContent"></div>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; Copyright 2023 | <a href="/">Search Resto</a></p>
    </footer>
  </body>
</html>
